.chat-page
{
	padding: 0px 0px 50px 0px;
}
.msg-inbox{
	border: 1px solid #ccc;
	overflow: hidden;
	padding-bottom: 30px; 
}
.chats
{
	padding: 30px 15px 0px 25px;
}
.msg-page
{
	height: 516px;
	overflow-y: auto;
}
.received-chats
{

}
.received-chats-img
{
	display: inline-block;
	width: 20px;
	float: left;
}
.received-msg
{
	display: inline-block;
	padding: 0 0 0 10px;
	vertical-align: top;
	width: 92%;
}
.received-msg-inbox
{
	width: 57%
}
.received-msg-inbox p
{
	background: #efefef none repeat scroll 0 0;
	border-radius: 10px;
	color: #646464;
	margin: 0;
	padding: 5px 10px 5px 12px;
	width: 100%;
}
.time
{
	color: #777;
	display: block;
	font-size: 12px;
	margin: 8px 0 0;
}
.outgoing-chats
{
	overflow: hidden;
	margin: 26px 20px;
}
.outgoing-chats-msg
{
	float: left;
	width: 46%;
	margin-left: 45%;
}
.outgoing-chats-msg p
{
	background: #007bff none repeat scroll 0 0;
	color: #fff;
	border-radius: 10px;
	font-size: 14px;
	margin: 0;
	padding: 5px 10px 5px 12px;
	width: 100%;
}
.outgoing-chats-img
{
	display: inline-block;
	width: 20px;
	float: right;
}
.msg-bottom
{
	position: relative;
	height: 10%;
	background-color: #007bff;
}